.timezone{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 0.5em;
    color: #919191;
}

.edit-timezone{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 0.5em;
    color: #BA4CC7;
}

.tz-tittle{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #000; 
}